@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

.info-heading {
margin: 20px auto;
}

li {
  font-family: 'Source Code Pro', monospace;
  padding: 6px;
}

.info-block {
  margin-top: 50px;
  
  h2 {
    display: block;
    width: 100%;
    color: #fff;
    padding: 10px;
    background-color: #123321;
    margin-bottom: -20px;
  }
}
